{% from 'bootstrap/form.html' import render_form %}
{% extends "base.html" %}
{% block title %}Validar centro{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='js/validarmapa.js') }}"></script>
{% endblock %}

{% block tamañoPanel %}col-md-8{% endblock %}

{% block nombre %}Validar centro{% endblock %}

{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
          <form method="post">
              {% if centro.protocolo %}
                <a class="h4" target="_blank" href="{{ url_for('static', filename='uploads/'+pdf) }}">Protocolo</a><div class="mb-3"></div>
              {% endif %}
              <div class="mb-3" style="height: 250px;" id="mapid"></div>
              {{ render_form(form) }}
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}