h1 { 
    font-size: 50px; 
}

body { 
    text-align: center; padding: 15%;
    font: 20px Helvetica, sans-serif; color: #333; 
    background-color: #FBDA61;
    background-image: linear-gradient(90deg, #FBDA61 0%, #FF5ACD 100%);      
}

article { 
    display: block; text-align: left; width: 70%; margin: 0 auto;
}

a { 
    color: blue; text-decoration: none; 
}

a:hover { 
    color: #333; text-decoration: none; 
}