<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Mantenimiento</title>
    <link href="{{ url_for('static', filename='css/mantenimiento.css') }}" rel="stylesheet">
</head>
<body>
    <article>
        <h1>Volvemos pronto!</h1>
        <div>
            <p>Estamos realizando un mantenimiento en este momento. Si lo necesita, puede <a href="mailto:{{mostrar_config.email}}">contactarnos</a></p>
            <p>&mdash; Portal Covid</p>
        </div>
    </article>
</body>
</html>